<?xml version='1.0' encoding='utf-8'?>
<widget id="com.som.com.ar" version="2.25" xmlns="http://www.w3.org/ns/widgets">
  <name>SOM</name>
  <description>Club de Inmobiliarias S.A.</description>
  <author email="som@som.com.ar" href="http://som.com.ar">Club de Inmobiliarias S.A.</author>
  <preference name="orientation" value="portrait" />
  <preference name="target-device" value="universal" />
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="SplashScreen" value="splash" />
  <preference name="permissions" value="none" />
  <preference name="fullscreen" value="true" />
  <allow-intent name="href" value="http://*/*"></allow-intent>
  <allow-intent name="href" value="https://*/*"></allow-intent>

  <plugin name="cordova-plugin-device" spec="1.1.2" />
  <plugin name="cordova-plugin-whitelist" spec="1" />
  <plugin name="cordova-plugin-splashscreen" source="npm"/>

  <allow-navigation name="href" value="*" />

  <icon src="images/icon.png" />
  <splash src="images/splash.png" />

  <access origin="*" />
</widget>