<?xml version='1.0' encoding='utf-8'?>
<widget id="com.som.com.ar" version="2.25" xmlns="http://www.w3.org/ns/widgets">
  <name>SOM</name>
  <description>Club de Inmobiliarias S.A.</description>
  <author email="som@som.com.ar" href="http://som.com.ar">Club de Inmobiliarias S.A.</author>
  <preference name="phonegap-version" value="cli-9.0.0" />
  <preference name="orientation" value="portrait" />
  <preference name="target-device" value="universal" />
  <preference name="permissions" value="none" />
  <preference name="fullscreen" value="false" />
  <preference name="SplashScreenDelay" value="5000" />
  <allow-intent name="href" value="http://*/*"></allow-intent>
  <allow-intent name="href" value="https://*/*"></allow-intent>

  <plugin name="cordova-plugin-device" spec="1.1.2" />
  <plugin name="cordova-plugin-whitelist" spec="1" />

  <splash src="res/screen/android/splash-port-xhdpi.png" />

  <allow-navigation name="href" value="*" />

  <icon src="images/icon.png" />
  <access origin="*" />
</widget>